# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
env/

# Data
data/raw/
data/processed/
data/sample/

# Models
models/

# Archives
*.zip
*.gz

# Mac
.DS_Store

# Outputs
*.pkl
*.joblib